/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: greenyellow;
    color: orange;
}

/* LOGO */
.logo {
    text-align: center;
    padding: 20px;
    
}

.logo img {
    width: 30px;
}

/* Estilos de la Cabecera */
.cabecera {
    display: flexbox;
    align-items: center;
    background-color: rgb(247, 125, 145);
}

.inicio h1 {
    font-size: 70px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.inicio p {
    font-size: 18px;
    color: brown;
    text-align: center;
   
}

/* Menú Principal*/
.menuprincipal {
    text-align: center;
    font-size: 5rem;
}

ul.dropdown {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox para alineación horizontal */
    justify-content: flex-start; /* Alineación hacia la izquierda */
}

ul.dropdown li {
    position: relative;
    margin-right: 20px; /* Espacio entre los elementos del menú */
}

ul.dropdown li a {
    text-decoration: none; /* Elimina subrayado en los enlaces */
    color: #000; /* Color del texto */
    padding: 10px;
    display: block;
}

ul.dropdown .desplegable > a::after {
    content: ' ▼'; /* Agrega una flecha hacia abajo para indicar un submenú */
}

ul.dropdown .desplegable:hover > ul {
    display: block; /* Muestra el submenú al hacer hover */
}

ul.dropdown .desplegable ul {
    display: none; /* Oculta el submenú por defecto */
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0;
    list-style-type: none;
    margin: 0;
    z-index: 1;
}

ul.dropdown .desplegable .liSubmenu a {
    padding: 10px;
    color: #000;
    display: block;
    text-decoration: none;
    
}



  /* Estilo para el footer */
footer {
    background-color: purple;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;}
  